*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{height: 100%;}

body{background: #fff !important;}

.clear{clear: both;}

.fixed{position: fixed;}

header{
	background: #78909c;
	padding: 10px 0;	
}

.center{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}

.logo{
	float: left;
	color: white;
}

footer{
	bottom: 0;
	width: 100%;
	background: #78909c;
	padding: 20px 0;
	text-align: center;
	color: white;
}

/*Form login*/
.principal{
	padding: 40px 0;
}

.principal h2{
	color: #4b4b4b;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}

.contato form{
	width: 100%;
	max-width: 600px;
	border-radius: 5px;
	display: inline-block;
	padding: 10px;
	border: 2px solid rgb(230, 230, 230);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.contato form label{
	text-align: left;
	display: block;
}

.contato form input[type=email],
.contato form input[type=password]{
	width: 100%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 8px 0;
	padding: 12px 20px;
	display: block;
	font-size: 15px;
}

.contato form input[type='submit']{
	width: 100px;
	background: #78909c;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	display: block;
	font-size: 16px;
}

.contato form input[type=submit]:hover{
	background-color: #455a65;
}


/*home*/
.sidebar{
	width: 250px;
	height: 100%;
	background: #455a65;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}

.topo{
	padding: 10px 0;
	text-align: center;
	background: #78909c;
	color: white;
}

.topo a{
	color: white; 
	text-decoration: none;
}

.topo a:hover{
	text-decoration: underline;
}

.btn-coord{text-align: center;}

.btn-coord button{
	margin-top: 15px;
	background: #78909c;
	padding: 8px 10px;
	color: white;
	text-decoration: none;
	display: inline-block;
	border-radius: 3px;
	border: 0;
	font-weight: bold;
	cursor: pointer;
}

.info-localizacao{
	padding: 20px 10px;
	color: white;
}

.info-match h3{
	text-align: center;
	margin-top: 15px;
	font-weight: normal;
	font-size: 18px;
	color: white;
	background: #2f3d42;
	padding: 8px 0;
}

.info-match ul li{
	display: block;
	padding: 8px;
	font-weight: 300;
	font-size: 16px;
	text-decoration: none;
	color: white;
	border-bottom: 1px solid #2f3d42;
}

.info-match ul li > i{
	color: #4CCC93;
}

.info-match .nomatch{text-align: center;}

.user-distance{
	display: block;
	margin-top: 8px;
}


/*box-usuario-like*/
.box-usuario-like{
	width: 100%;
}

.box-tinder{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.box-usuario{
	width: 290px;
	overflow: hidden;
	display: flex;
	height: 350px;
	border-radius: 7px;
	border: solid 1px lightgray;
}

.box-usuario&:not(.one){
 	display: none;
}

.box-usuario .seven {
    background: #fff;
}

.box-usuario .info{
	background: #fff;
    width: 100%;
    align-self: flex-end;
    padding: 15px;
}

.info h2{
	font-size: 20px;
    margin: 0;
}

.info p{
	margin: 0;
    font-size: 13px;
    color: gray;
}

.buttons {
	display: flex;
	width: 245px;
	margin: 12px auto;
	margin-left: 90px;/*70px*/
}

.buttons a{text-decoration: none;}

.buttons .button {
    display: flex;
    border: solid 9px #efefef;
    border-radius: 40px;
    width: 45px;
    height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    margin: 0 -5px;
}

.buttons .button.redo {
    color: #FECD64;
}

.buttons .button.no {
    color: #FF6B6B;
    font-size: 28px;
    width: 60px;
    height: 60px;
}

.buttons .button.yes {
    color: #4CCC93;
    font-size: 28px;
    width: 60px;
    height: 60px;
}

.buttons .button.star {
    color: #2CB3C9;
}