*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{height: 100%;}

body{background: #fff !important;}

.clear{clear: both;}

.fixed{position: fixed;}

header{
	background: #42a5f5;
	padding: 10px 0;	
}

.center{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}

.logo{
	float: left;
	color: white;
}

footer{
	bottom: 0;
	width: 100%;
	background: #42a5f5;
	padding: 20px 0;
	text-align: center;
	color: white;
}

/*Form login*/
.principal{
	padding: 40px 0;
}

.principal h2{
	color: #4b4b4b;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
}

.contato{
	text-align: center;
	border: 2px solid #f2f2f2;
	padding: 80px 0;
}

.contato form{
	width: 100%;
	max-width: 600px;
	display: inline-block;
}

.contato form label{
	text-align: left;
	display: block;
}

.contato form input[type=email],
.contato form input[type=password]{
	width: 100%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 8px 0;
	padding: 12px 20px;
	display: block;
	font-size: 15px;
}

.contato form input[type='submit']{
	width: 100px;
	background: #42a5f5;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	display: block;
	font-size: 16px;
}

.contato form input[type=submit]:hover{
	background-color: #1e88e5;
}


/*home*/
.sidebar{
	/*width: 300px;
	height: 100%;
	background: rgb(225, 225, 225);*/
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #455a65;
	float: left;
	width: 250px;
}

.topo{
	padding: 10px 0;
	text-align: center;
	background: #78909c;
	color: white;
}

.topo a{color: white;}

.btn-coord{text-align: center;}

.btn-coord a{
	margin-top: 15px;
	background: #78909c;
	padding: 8px 10px;
	color: white;
	text-decoration: none;
	display: inline-block;
	border-radius: 3px;
}

.info-localizacao{
	padding: 20px 10px;
	color: white;
}
